# JSON Exercise

# All imports for Pandas , JSON

In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

# Read the JSON world_bank_projects.json

In [2]:
wb =  pd.read_json('data/world_bank_projects.json')
wb.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

# Top 10 Countries

In [3]:
df = wb[["countryname"]]
df.groupby('countryname').size().sort_values(ascending=False).head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

# Top 10 Project Themes

In [4]:
df = wb['mjtheme_namecode']
df[0]

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]

In [5]:
projects = pd.DataFrame(columns=['code','name'])
for i in df:
    projects = projects.append(json_normalize(i))
    
projects.groupby(['code','name']).size().sort_values(ascending=False).head(10)

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
dtype: int64

# Filling Blank Project Themes with proper names

In [6]:
projects.head(20)

  code                                          name
0    8                             Human development
1   11
0    1                           Economic management
1    6         Social protection and risk management
0    5                         Trade and integration
1    2                      Public sector governance
2   11  Environment and natural resources management
3    6         Social protection and risk management
0    7                   Social dev/gender/inclusion
1    7                   Social dev/gender/inclusion
0    5                         Trade and integration
1    4      Financial and private sector development
0    6         Social protection and risk management
1    6
0    2                      Public sector governance
1    4      Financial and private sector development
0   11  Environment and natural resources management
1    8
0   10                             Rural development
1    7

In [7]:
# Creat code , name pair from the the set 
df = projects[projects.name != ""].drop_duplicates()
dict = df.set_index("code").to_dict()["name"]
print(dict)

projects.index = range(0,len(projects))

for i in projects.itertuples():
    if i[2] == "":
        projects.set_value(i[0],'name',dict[i[1]])
#        print("Replacing blank with "+dict[i[1]])

{'7': 'Social dev/gender/inclusion', '10': 'Rural development', '8': 'Human development', '1': 'Economic management', '2': 'Public sector governance', '6': 'Social protection and risk management', '3': 'Rule of law', '5': 'Trade and integration', '9': 'Urban development', '4': 'Financial and private sector development', '11': 'Environment and natural resources management'}

In [8]:
# Now the dataframe has valid names 
projects.head(20)

   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6         Social protection and risk management
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8                             Human development
18   10                             Rural development
19    7                   Social dev/gender/inclusion